/**
 * CSS Global Style
 * @author: Wey;
 * @data: 2014-06-17;
**/

html, body, div, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, input, button, textarea, p, span, form {
   margin: 0;
   padding: 0
}

body, input, button, select, textarea {
   font: 14px/1.5 "Microsoft Yahei", "Yuanti SC", "Source Han Sans CN",-apple-system;
   color: #3E4252;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -moz-font-feature-settings: "liga", "kern";
}

table {
   border-collapse: collapse;
   border-spacing: 0
}

img, a img {
   border: 0
}

a {
   color: inherit;
   outline: medium none;
   text-decoration: none;
   transition: color .2s linear, background-color .2s linear;
}

a:hover {
   text-decoration: none;
   color: #364CC6;
}

label {
   cursor: pointer
}

ul li, .ol li {
   list-style: none
}

em, cite, i {
   font-style: normal
}

/* 去除Chrome等浏览器文本框默认发光边框 */

input:focus, textarea:focus {
   outline: none;
}

/* 去除IE10+浏览器文本框后面的小叉叉 */

input::-ms-clear {
   display: none;
}

/* 禁止多行文本框textarea拖拽 */

textarea {
   resize: none;
}

html {
   height: 100%;
   width: 100%;
}

.btn-15 {
    background-color: #b621fe !important;
    border: none;
    z-index: 1;
    margin-top: 10px;
}
.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
    box-shadow:inset 1px 1px 1px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
.btn-15:hover {
    color: #fff;
}
.btn-15:hover:after {
    left: 0;
    width: 100%;
}
.btn-15:active {
    top: 2px;
}

.custom-btn {
    /*width: 130px;*/
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    letter-spacing: 5px;
}
/* html::-webkit-scrollbar {
  width: 6px;
  height: 6px
}

html::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #fff
}

html::-webkit-scrollbar-thumb {
  height: 300px;
  border-radius: 6px;
  background-color: #FFD55D
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #FFD55D
}

html::-webkit-scrollbar-thumb:active {
  background-color: #666363
}

html::-webkit-scrollbar-corner {
  background-color: #535353
}

html::-webkit-scrollbar-resizer {
  background-color: #ff6e00
} */

body {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #EAEFFE;
   min-width: 1024px;
   /* image-rendering: -webkit-optimize-contrast; */
}

.light {
   color: #9DA0B3;
}

.hover-scale {
   transition: opacity .2s ease;
}

.hover-scale:hover {
   opacity: 0.8;
}

.box-wrap {
   display: flex;
   flex-shrink: 0;
   width: calc(100% - 48px);
   max-width: 1440px;
   margin-top: 24px;
   background-color: #fff;
   border-radius: 46px;
}

.header {
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   width: 168px;
   background: #364CC6;
   border-radius: 30px;
   margin: 24px 0 24px 24px;
   color: #fff;
   height: 768px;
   position: sticky;
   position: -webkit-sticky;
   top: 48px;
}

.main {
   flex-grow: 1;
   padding: 38px 56px;
   display: flex;
   flex-direction: column;
   min-width: 380px;
}

.aside {
   width: 416px;
   flex-shrink: 0;
}

.footer {
   display: flex;
   align-items: center;
   flex-shrink: 0;
   height: 60px;
   font-size: 13px;
   color: #9DA0B3;
}

.footer a {
   margin-left: 6px;
}

.footer-br {
   display: none;
}

.logo-wrap {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 32px;
}

.logo-img-wrap {
   font-weight: bolder;
   font-size: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.logo-wrap h1, .logo-wrap h2 {
   font-size: 16px;
   font-weight: 900;
   margin-bottom: 5px;
}

.logo-wrap a {
   color: #fff;
}

.logo-wrap .sub-title {
   font-size: 12px;
   font-weight: 300;
}

.logo {
   display: block;
   width: 72px;
   height: 72px;
   margin-bottom: 5px;
   border-radius: 18px;
}

.menu-header-container {
   flex-grow: 1;
   margin-top: 50px;
}

.menu {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.menu .menu-item>a {
   display: flex;
   width: 80px;
   height: 80px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: rgba(255, 255, 255, 0.06);
   border-radius: 22px;
   margin-bottom: 20px;
   font-size: 13px;
}

.menu .menu-item>a::before {
   font-family: "tficon";
   content: '';
   font-size: 28px;
}

.menu .menu-item.current-category-ancestor>a:hover, .menu .menu-item.current-category-ancestor>a, .menu .menu-item.current-post-ancestor>a:hover, .menu .menu-item.current-post-ancestor>a, .menu .menu-item.current-menu-item>a:hover, .menu .menu-item.current-menu-item>a {
   background-color: #fff;
   color: #364CC6;
}

.menu .menu-item-25>a::before {
   content: "\e67f";
}

.menu .menu-item-23>a::before {
   content: "\e682";
}

.menu .menu-item-24>a::before {
   content: "\e681";
}

.menu .menu-item-3667>a::before {
   content: "\e6b8";
}

.menu .menu-item>a:hover {
   color: #FFD55D;
   background: rgba(255, 255, 255, 0.1);
}

.wx-code {
   display: flex;
   align-items: center;
   align-self: center;
   flex-direction: column;
   font-size: 13px;
   font-weight: 300;
   margin-bottom: 20px;
   position: relative;
}

.wx-code>.tficon {
   cursor: pointer;
   font-size: 24px;
   color: rgba(255, 255, 255, 0.6);
}

.wx-code-img {
   width: 128px;
   height: 128px;
   position: absolute;
   bottom: 108%;
   border-radius: 8px;
   pointer-events: none;
   opacity: 0;
   transform: translateY(20px);
   transition: transform .25s ease, opacity .25s ease;
}

.wx-code:hover .wx-code-img {
   opacity: 1;
   transform: translateY(0);
}

.top-bar {
   display: flex;
   align-items: center;
}

.search-form {
   display: flex;
   width: 460px;
   height: 52px;
   align-items: center;
   background-color: #F6F8FF;
   border-radius: 52px;
   overflow: hidden;
}

.search-form>.icon-search {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 28px;
   height: 28px;
   font-size: 18px;
   margin-left: 10px;
   margin-right: 3px;
   color: #9DA0B3;
   cursor: pointer;
   border: none;
   background-color: transparent;
}

.search-input {
   flex-grow: 1;
   border: none;
   height: 52px;
   background-color: transparent;
}

.search-input::placeholder {
   color: #9DA0B3;
}

.block-title {
   font-size: 26px;
   color: #313546;
   margin-bottom: 20px;
}

.block-title .icon-right {
   display: inline-block;
   color: #FFD55D;
   font-weight: normal;
   font-size: inherit;
   transition: transform .25s ease;
}

.block-title a:hover .icon-right {
   transform: translateX(6px);
}

.tficon {
   font-size: inherit;
}

.block-wrap {
   margin-top: 28px;
}

.pic-cover-item {
   border-radius: 30px;
   overflow: hidden;
}

.photo-item-inner {
   position: absolute;
   left: 12px;
   bottom: 12px;
   z-index: 9;
   display: block;
   padding: 4px 8px;
   font-size: 16px;
   color: #fff;
   border-radius: 8px;
   background: rgba(0, 0, 0, .4);
   box-shadow: 0 0 10px 10px rgb(0 0 0 / 10%);
   pointer-events: none;
}

.pic-cover-item-title {
   font-size: 26px;
}

.pic-cover-item-summary {
   font-size: 13px;
   text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.sider-post-item {
   display: flex;
   /*align-items: center;*/
   margin-top: 26px;
}

.sider-post-item-img img {
   display: block;
   width: 128px;
   height: 104px;
   border-radius: 16px;
   margin-right: 16px;
}

.sider-post-item-title {
   font-size: 14px;
}

.fonts-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.fonts-item {
   display: flex;
   justify-content: center;
   align-items: center;
   width: calc(33.3333% - 9px);
   border-radius: 16px;
   overflow: hidden;
   transform: rotate(0deg)
}

.fonts-item-img {
   width: 100%;
   height: auto;
}

.aside .block-title {
   font-size: 22px;
}

.aside .block-wrap {
   margin-top: 26px;
}

.aside-wx-wrap {
   display: flex;
   align-items: center;
}

.aside-wx-code {
   width: 128px;
   height: 128px;
   display: block;
   margin-right: 10px;
}

.aside-wx-des {
   font-size: 16px;
}

.photo-list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.photo-item {
   width: calc(50% - 6px);
   display: flex;
   height: 128px;
   align-items: center;
   justify-content: center;
   background-color: #F6F8FF;
   border-radius: 16px;
   margin-top: 12px;
   overflow: hidden;
   position: relative;
   transform: rotate(0deg);
}

.photo-item:first-child {
   width: 100%;
   margin-top: 0;
}

.photo-item img {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.article-list {
   display: flex;
   flex-direction: column;
}

.article-item {
   display: flex;
   height: 86px;
   margin-bottom: 18px;
}

.article-item-title {
   align-self: flex-start;
   max-width: 100%;
}

.article-item-title>h3 {
   line-height: 1.3;
   font-size: 14px;
}

.article-item-main {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   min-width: 0;
   justify-content: center;
}

.article-item-tags {
   margin-top: 8px;
}

.article-item-img {
   height: 100%;
   flex-shrink: 0;
   margin-left: 10px;
}

.article-item-img>img {
   display: block;
   border-radius: 11px;
   height: 100%;
   max-width: 100px;
}

.tag-wrap {
   flex-grow: 1;
   overflow: hidden;
   white-space: normal;
}

.tag-wrap>a {
   display: inline-flex;
   align-items: center;
   height: 16px;
   color: #C6A549;
   font-size: 12px;
   padding: 0 3px;
   margin-left: 1px;
   background-color: rgba(255, 213, 93, 0.18);
   border-radius: 22px;
}

.tag-wrap>a:hover {
   text-decoration: underline;
}

.tag-wrap>a:first-child {
   margin-left: 0;
}

.cat-tab-wrap {
   display: flex;
   padding-top: 24px;
   height: 50px;
   align-items: center;
   background-color: #fff;
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   z-index: 99;
}

.cat-tab-wrap>li>a {
   display: flex;
   align-items: center;
   margin-right: 24px;
   font-size: 16px;
}

.cat-tab-wrap>li.current-menu-item>a, .cat-tab-wrap>h2 {
   font-size: 20px;
   font-weight: 900;
   position: relative;
   z-index: 1;
}

.cat-tab-wrap>h2::after, .cat-tab-wrap>li.current-menu-item>a::after {
   display: block;
   content: "";
   width: 60%;
   height: 10px;
   background-color: #FFD55D;
   position: absolute;
   bottom: 0;
   z-index: -1;
}

.post-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.post-item {
   margin-top: 26px;
}

.main .post-list .post-item {
   width: calc(50% - 13px);
}

.post-item-cover {
   display: flex;
   justify-content: center;
   width: 100%;
   position: relative;
}

.post-item-cover::before {
   content: "";
   display: block;
   padding-top: 56.25%;
}

.post-item-img {
   width: 100%;
   border-radius: 16px;
   overflow: hidden;
   background-color: #EAEFFE;
   position: relative;
   transform: rotate(0deg)
}

.post-item-img img {
   position: absolute;
   width: 100%;
}

.post-item .post-categories {
   position: absolute;
   bottom: -8px;
   text-align: center;
   z-index: 9;
}

.post-item .post-categories li {
   display: inline-block;
   background-color: #FFD65D;
   padding: 6px;
   line-height: 1;
   border-radius: 6px;
   font-size: 14px;
   color: #364CC7;
}

.single-post .wp-post-image {
   display: block;
   max-width: 100%;
   height: auto;
   margin: 0 auto;
   border-radius: 16px;
}

.post-item-title {
   display: block;
   margin-top: 12px;
   align-self: flex-start;
}

.post-item-title>h3 {
   display: -webkit-box;
  font-size: 18px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.post-item-footer {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-top: 8px;
}

.post-item-meta {
   font-size: 13px;
   color: #9DA0B3;
   flex-shrink: 0;
   margin-left: 5px;
}

.post-item-summary {
   font-size: 14px;
   color: #9DA0B3;
   margin-top: 5px;
   text-align: justify;
}

.pagination {
   display: flex;
   align-items: center;
   margin-top: 38px;
}

.pagination a, .pagination span {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 42px;
   height: 36px;
   background-color: #F6F8FF;
   border-radius: 42px;
   font-size: 16px;
   font-weight: 900;
   margin-right: 6px;
   color: #9DA0B3;
}

.pagination a:hover {
   color: #364CC6;
}

.pagination .active span {
   background-color: #364CC6;
   color: #fff;
}

.pagination span.more {
   width: unset;
   background-color: unset;
}

.total-page {
   margin-left: auto;
   color: #9DA0B3;
}

.list-empty {
   flex-grow: 1;
   background-color: #f6f8ff;
   display: flex;
   max-height: 320px;
   justify-content: center;
   align-items: center;
   font-size: 28px;
   color: #9DA0B3;
   font-weight: bold;
   border-radius: 22px;
    margin-top: 100px;
}

.crumbs {
   flex-grow: 1;
   display: flex;
}

.crumbs a {
   margin-right: 16px;
}

.crumbs a:after {
   content: '/';
   color: #9DA0B3;
   width: 16px;
   text-align: center;
   pointer-events: none;
   cursor: default;
   position: absolute;
}

.crumbs span, .crumbs h2 {
   font-size: inherit;
   font-weight: normal;
   color: #9DA0B3;
}

.crumbs+.search-form {
   width: 228px;
}

.post-wrap {
   margin-top: 38px;
}

/* .post-header {
   background-color: #fff;
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   z-index: 9;
} */

.post-title {
   font-size: 32px;
   line-height: 1.2;
}

.post-meta {
   display: flex;
   height: 50px;
   align-items: center;
   font-size: 14px;
   color: #9DA0B3;
   margin-top: 12px;
   margin-bottom: 12px;
   white-space: nowrap;
}

.post-meta .post-categories {
   display: flex;
   margin-right: 10px;
}

.post-meta .post-categories li {
   margin-right: 10px;
}

.post-header-tags {
   margin-left: 20px;
}

.post-img {
   display: inline-block;
   max-width: 100%;
   border-radius: 22px;
}

.post-content {
   font-size: 17px;
   line-height: 2;
   word-break: break-all;
   text-align: justify;
   padding-bottom: 26px;
   border-bottom: 1px #EAEFFE solid;
}

.post-content p {
   margin-top: 22px;
   margin-bottom: 22px;
}

.post-content h3 {
   display: inline-block;
   font-size: 22px;
   margin-top: 22px;
   font-weight: bolder;
   position: relative;
   z-index: 1;
}

.post-content h4 {
   margin-top: 22px;
   margin-bottom: 22px;
   font-size: 20px;
}

.post-content h3::after {
   position: absolute;
   bottom: 8px;
   content: '';
   display: block;
   width: 100%;
   height: 10px;
   background-color: #FFD55D;
   z-index: -1;
}

.post-content figure.wp-block-image {
   margin: 22px auto;
   border-radius: 16px;
   overflow: hidden;
   border: 1px #ddd solid;
   width: fit-content;
   max-width: 100%;
}

.wp-block-image img {
   max-width: 100%;
   height: auto;
}

.wp-block-table figcaption, .wp-block-image figcaption, .wp-block-gallery figcaption {
   margin-bottom: .5em;
   font-size: 14px;
   text-align: center;
   color: #9DA0B3;
   width: 100%;
}

.wp-block-quote {
   background-color: #f6f8ff;
   border-radius: 0 16px 16px 0;
   font-size: 86%;
   margin-left: 0;
   margin-right: 0;
   padding: 16px;
   color: #9DA0B3;
   border-left: 5px #d9dbe7 solid;
}

.wp-block-quote p {
   margin: 0;
}

.post-content>ul, .post-content>ol, .post-content .wp-block-code {
   background-color: #F6F8FF;
   border-radius: 16px;
   font-size: 16px;
   padding: 22px 22px 22px 38px;
   margin-top: 22px;
   margin-bottom: 22px;
}

.post-content .wp-block-code {
   line-height: 1.2;
   font-size: 15px;
   padding: 0;
   overflow-x: auto;
}

.post-content .wp-block-code code {
   position: relative;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   /* background-color: unset !important; */
}

.post-content figure.wp-block-gallery {
   margin-top: 22px;
   margin-bottom: 22px;
   background-color: #F6F8FF;
   border-radius: 16px;
}

.wp-block-gallery ul {
   padding: 16px 16px 0 16px;
   margin: 0;
}

.post-content>ul>li, .post-content>ol>li {
   margin-bottom: 8px;
}

.post-content>ul>li {
   list-style: disc;
}

.post-content a {
   color: #364CC6;
   border-bottom: 1px #364CC6 dotted;
   padding-bottom: 3px;
   line-height: 1.2;
   margin-left: 2px;
   margin-right: 2px;
   transition: border .25s ease;
}

.post-content a:hover {
   border-bottom: 1px #364CC6 solid;
}

.single-excerpt {
   margin-top: 22px;
   background-color: #F6F8FF;
   border-radius: 16px;
   font-size: 16px;
   padding: 22px;
}

.single-prev-text,
.single-next-text {
   position: absolute;
   top: 12px;
   left: 12px;
   display: block;
   padding: 8px;
   font-size: 16px;
   color: #fff;
   border-radius: 8px;
   background: rgba(0, 0, 0, .4);
   box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
   pointer-events: none;
}

.single-next-text {
   left: unset;
   right: 10px;
}

#append-content {
   position: sticky;
   top: 0;
}

.single .main {
   padding-bottom: 56px;
}

/* 谷歌广告样式 */

.aside-block.aside-ddd {
   display: flex;
   justify-content: center;
   padding: 20px 0 !important;
}

.adsbygoogle {
   margin-top: 28px;
   background-color: #EAEFFE;
   border-radius: 16px;
}

.aside-ddd .adsbygoogle {
   margin-top: unset;
}

.aside-ddd-square {
   width: 326px;
   height: 300px;
}

.aside-ddd-clum {
   width: 290px;
   height: 600px;
}

.wp-block-table {
   margin: 22px 0;
}

.post-content table {
   width: 100%;
   border: 1px #eee solid;
   line-height: 1.5;
}

.post-content table td {
   padding: 10px 20px;
   border: 1px #ddd solid;
}

.aside-block {
   padding: 45px;
   box-sizing: border-box;
   background: #fff;
   box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.06);
   border-radius: 38px;
}

.side-btn {
   display: flex;
   align-items: center;
   height: 58px;
   font-weight: bold;
   background-color: #FFD55D;
   border-radius: 16px;
   overflow: hidden;
}

#single-aside-content .block-wrap:first-child,
#append-content .block-wrap:first-child {
   margin-top: unset;
}

.side-btn-text {
   display: -webkit-box;
   overflow: hidden;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   max-height: 2em;
   flex-grow: 1;
   font-size: 17px;
   padding: 0 10px;
   line-height: 1;
   word-break: break-all;
}

.icon-download+.side-btn-text {
   text-align: center;
}

.side-btn .tficon {
   width: 58px;
   display: flex;
   font-weight: normal;
   align-items: center;
   align-self: stretch;
   justify-content: center;
   flex-shrink: 0;
   font-size: 20px;
   background-color: rgba(0, 0, 0, 0.06);
}

.directory {
   background-color: #F6F8FF;
   border-radius: 16px;
   font-size: 16px;
   padding: 22px 0 22px 38px;
}

.directory li {
   list-style: disc;
   color: #9DA0B3;
   margin-bottom: 8px;
   cursor: pointer;
   transition: color .25s ease;
}

.directory li:hover, .directory li.active {
   color: #364CC6;
}

.btn-more {
   display: flex;
   margin-top: 12px;
   font-size: 14px;
   justify-content: center;
   align-items: center;
}

.btn-more a:first-child {
   margin-left: 16px;
}

.btn-more a {
   margin-right: 10px;
   text-decoration: underline;
}


/* 图标 */

@font-face {
  font-family: "tficon"; /* Project id 1777197 */
  src: url('iconfont.woff2?t=1657437376180') format('woff2'),
       url('iconfont.woff?t=1657437376180') format('woff'),
       url('iconfont.ttf?t=1657437376180') format('truetype');
}

.tficon {
  font-family: "tficon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-movie-2-line:before {
  content: "\e6b8";
}

.icon-fire-line:before {
  content: "\e6bb";
}

.icon-web:before {
  content: "\e685";
}

.icon-right:before {
  content: "\e687";
}

.icon-link:before {
  content: "\e67e";
}

.icon-design:before {
  content: "\e67f";
}

.icon-search:before {
  content: "\e680";
}

.icon-app:before {
  content: "\e681";
}

.icon-code:before {
  content: "\e682";
}

.icon-qrcode:before {
  content: "\e683";
}

.icon-left:before {
  content: "\e684";
}

/* 笔记本 */

@media screen and (min-width: 569px) and (max-width: 1440px) {
   .aside {
      width: 360px;
   }

   .main {
      padding: 38px 60px;
   }

   .header {
      height: 610px;
   }

   .wx-code {
      display: none;
   }

   .pic-cover-item:nth-child(3) .pic-cover-item-summary, .pic-cover-item:nth-child(4) .pic-cover-item-summary {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }

   .article-item-tags {
      display: none;
   }

   .article-item {
      height: 58px;
   }

   .front-end-item:nth-child(3), .front-end-item:nth-child(4) {
      display: none;
   }

   .menu-header-container {
      margin-top: 26px;
   }

   .footer {
      height: 40px;
      font-size: 12px;
   }

   .sider-post-item-img img {
      width: 98px;
      height: 80px;
      border-radius: 12px;
   }

   .sider-post-item-title {
      font-size: 13px;
   }

   .aside-ddd-square {
      width: 308px;
   }

}

/* ipad */

@media screen and (min-width: 569px) and (max-width: 1280px) {
   .header {
      width: 150px;
   }

   .main {
      padding: 38px;
   }

   .aside {
      width: 280px;
   }

   .aside-block {
      border-radius: 38px;
      padding: 24px 20px;
   }

   .aside-block.aside-ddd {
      padding: 20px 0 !important;
   }

   .aside-ddd-square {
      width: 240px;
      height: 160px;
   }

   .aside-ddd-clum {
      width: 240px;
   }

   .aside-wx-code {
      width: 100px;
      height: 100px;
   }

   .aside-wx-des {
      font-size: 14px;
   }

   .fonts-item {
      width: calc(33.3333% - 6px);
   }


}

@media screen and (max-width: 568px) {
   body {
      min-width: 0;
   }

   .box-wrap {
      width: 100%;
      margin-top: 0;
      border-radius: 0;
      flex-direction: column;
      padding-bottom: 38px;
   }

   .header {
      flex-direction: row;
      align-items: center;
      width: auto;
      height: auto;
      top: auto;
      margin: 16px;
      padding: 10px;
      border-radius: 16px;
   }

   .tag .header, .search .header, .category .header, .single-post .header {
      height: auto;
      position: static;
   }

   .wx-code, .logo-wrap .sub-title, .logo-wrap a:nth-child(2), .post-item-meta, .single .search-form, .category .search-form, .total-page {
      display: none;
   }

   .logo {
      width: 42px;
      height: 42px;
      border-radius: 8px;
   }

   .logo-wrap h1, .logo-wrap h2 {
      font-size: 12px;
      margin-bottom: 0;
   }

   .logo-img-wrap {
      font-size: 13px;
   }

   .menu {
      flex-direction: row;
      justify-content: flex-end;
   }

   .menu .menu-item>a {
      width: 54px;
      height: 54px;
      margin-bottom: 0;
      margin-left: 5px;
      border-radius: 12px;
   }

   .menu .menu-item>a::before {
      font-size: 20px;
   }

   .menu-header-container, .logo-wrap {
      margin-top: 0;
   }

   .main {
      padding: 0 16px;
      min-width: 0;
   }

   .pic-cover-item {
      border-radius: 16px;
   }

   .block-wrap {
      margin-top: 16px;
   }

   .search-form {
      width: 100%;
   }

   .aside {
      width: auto;
      padding: 0;
      margin-top: 46px;
      height: auto;
   }

   .aside-block {
      padding: 16px;
   }

   .aside-post-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .aside-block.aside-ddd {
      padding: 0;
   }

   #append-content {
      display: none;
   }

   .pic-cover-list img {
      max-width: 100%;
   }

   .article-item-img>img {
      border-radius: 22px;
   }

   .single .main {
      padding-bottom: 0;
   }

   .footer {
      display: block;
      text-align: center;
      background-color: #fff;
      width: 100%;
   }

   .footer-br {
      display: inline;
   }

   .pic-cover-item-title, .photo-item-title {
      font-size: 18px;
   }

   .post-item-img {
      border-radius: 12px;
   }

   .photo-item img {
      height: auto;
      width: 100%;
   }

   .sider-post-item-img img {
      width: 120px;
      height: 98px;
   }

   .post-item-footer {
      justify-content: flex-start;
   }

   .tag-wrap>a {
      margin-left: 2px;
   }

   .post-item-summary {
      font-size: 12px;
   }

   .post-item .post-categories li {
      font-size: 12px;
      padding: 3px;
   }

   .cat-tab-wrap {
      padding-top: 16px;
      justify-content: space-between;
   }

   .cat-tab-wrap>li>a {
      margin-right: 0;
      font-size: 16px;
      text-indent: -2em;
      overflow: hidden;
   }

   .cat-tab-wrap>li.current-menu-item>a {
      font-size: 17px;
      text-indent: 0;
   }

   .post-item-title>h3 {
      font-size: 16px;
   }

   .post-header {
      position: static;
   }

   .post-content .aside-block a {
      color: inherit;
      display: flex;
      border-bottom: none;
      padding-bottom: 0;
   }

   .single-post .aside {
      margin-top: 22px;
      margin-bottom: 22px;
      padding-top: 1px;
      padding-bottom: 16px;
      border-radius: 22px;
   }

   .list-empty {
      min-height: 260px;
   }

   .post-content {
      text-align: left;
   }

   .front-end-item-img {
      width: auto;
      height: 100%;
   }

   .post-meta {
      flex-wrap: wrap;
      height: 60px;
      justify-content: center;
      margin-top: 16px;
   }

   .post-header-tags {
      margin-left: 0;
      width: 100%;
      text-align: center;
   }

   .pagination {
      justify-content: center;
      flex-wrap: wrap;
      padding-left: 46px;
      padding-right: 46px;
      position: relative;
   }

   .prev-page {
      position: absolute;
      left: 0;
      top: 0;
   }

   .next-page {
      position: absolute;
      right: 0;
      top: 0;
   }

   .pagination a, .pagination span {
      margin: 3px;
   }

   .main .post-list .post-item,
   .aside-post-list .post-item {
      width: calc(50% - 6px);
   }

   .aside-ddd.single-ddd {
      display: none;
   }

   .mobile-hide-sense{
      display: none !important;
   }
}
